@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@font-face{
	font-family: ailerons;
	src: url(fonts/Ailerons.ttf);
}

body{
	margin: 0px;
	font-family: 'PT Sans Narrow', sans-serif;
	background-color: black;
}


header{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10;
}

header a{
    text-decoration: none;
    padding: 7px;
}

header a:hover{
	color: #00F4FF;
}

.black-bar{
	background-color: black;
	color: #00F4FF;
	text-align: center;
}
.gallery-button{
background: black;
position: fixed;
z-index: 11;
display: inline-block;
height: 20px;
color: #00F4FF;
font-size: 20px;
padding-bottom: 10px;
padding-top: 0px;
padding-right: 5px;
padding-left: 5px;
text-align: center;
top: 50%;
font-family: ailerons;
margin: 0px;
border-radius: 10px;
}

#next-button{
right: 0px;
	

}

#prev-button{
left: 0px;	

}

button{
	outline: none;
	font-family: 'PT Sans Narrow', sans-serif;
    background-color: black;
    color: #00F4FF;
    border: none;
    padding: 4px 13px 3px;
    border-radius: 0px;
    transition: all 0.3s;
    cursor: pointer;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	font-size: 15px;
	letter-spacing: 2px;
}


button:hover{
	background-color: white;
	color: black;
}
select{
	background-color: #00F4FF;
	border: none;
	font-family: ailerons;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
select:hover{
	font-size: 14px; 
	transition: font-size 14px .3s;
}

.circle-container{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: center;
	-webkit-justify-content: center;
}

.circle-container .circle{
	color: black;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-size: contain;
    background-position: center;
    line-height: 120px;
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin: 5px;
}

.circle .circle-label{
	color: white;
	z-index: 1;
	position: relative;
	font-size: 15px;
}

.circle .circle-cover{
	background-color: rgba(1, 132, 138, 0.55);
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

.circle-container .circle-1{
	background-image: url(assets/img/1.png);
}

.circle-container .circle-2{
	background-image: url(assets/img/2.png);
}

.circle-container .circle-3{
	background-image: url(assets/img/3.png);
}

.circle-container .circle-4{
	background-image: url(assets/img/4.png);
}

.circle-container .circle-5{
	background-image: url(assets/img/5.png);
}

.circle-container .circle-6{
	background-image: url(assets/img/6.png);
}

.background-image-generic{
	background-color: black;
	height: 100%;
	background-size: cover;
	color: white; 
	font-size: 130px;
	text-align: center;
	font-family: ailerons;
	display: table;
	width: 100%;
	background-position-y: 20px;
	text-shadow: 0px 0px 30px #00F4FF;
	background-position-x: center; 
}

.background-image-fitness{
	background-image: url(assets/img/backgrounds/fitness-bg.jpg);
}

.background-image-modeling{
	background-image: url(assets/img/backgrounds/modeling-bg.jpg);
}

.splash-container{
	display: table-cell;
    vertical-align: middle;
    color: white; 
}

.arrow-container{
	position: absolute;
	bottom: 8px;
	left: 0px;
	font-size: 43px;
	text-align: center;
	display: block;
	width: 100%;
}

.pop-up-pic{
	position: fixed;
    height: 33%;
    top: 37px;
    display: none;


}
.photo-pop{
	display: none;
	position: fixed;
	height: 50%;
	top: 450px;
	right: 618px;

}

.category{
	color: white;
	text-shadow: 1px 0px 3px #00F4FF;
    font-size: 20px;
    font-family: ailerons;
    margin: 0px 20px;
}

ul{
	margin: 0px;
	padding: 0px;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: black;	
}

section.primary, section.secondary, section.trilogy, section.quad{
	padding: 40px;
	text-align: center;
}

section.primary{
	background-color: #01848A;
	color: white;
	box-shadow: inset 0px 4px 10px rgb(0, 70, 73);
}
section.secondary{
	background-color: white;
	color: black;	
}
section.trilogy a{color: #0654FB;

}
section.trilogy h1{color: #00F4FF;
}

section.trilogy{
	background-color: black;
	box-shadow: 0px 0px 100px #012D2F;
}
section.quad{
	background-color: #01848A;
	color: white;
}

section .fa{
	margin-top: 10px;
	font-size: 20px;
}

.full-size-image{
	background-color: rgba(255, 255, 255, 0.70);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 11;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: none;
}

.full-size-image .close-button{
	color: black;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 30px;
}

.picture-container .katopic{
	color: black;
	width: 150px;
	height: 150px;
	background-size: cover;
	background-position: center;
	line-height: 100px;
	position: relative;
	overflow: hidden;
	padding: 10px;
	margin: 5px;
	background-repeat: no-repeat;
	transition: transform .3s, -webkit-filter .3s;
	-webkit-filter: grayscale(100%);
}

.picture-container{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: center;
	-webkit-justify-content: center;
}

.picture-container .katopic:hover{
	transform: scale(1.05);
	-webkit-filter: grayscale(0%);
}

.katopic-1{background-image: url(assets/img/modeling/1.jpg);}
.katopic-2{background-image: url(assets/img/modeling/2.jpg);}
.katopic-3{background-image: url(assets/img/modeling/3.jpg);}
.katopic-4{background-image: url(assets/img/modeling/4.jpg);}
.katopic-5{background-image: url(assets/img/modeling/5.jpg);}
.katopic-6{background-image: url(assets/img/modeling/6.jpg);}
.katopic-7{background-image: url(assets/img/modeling/7.jpg);}
.katopic-8{background-image: url(assets/img/modeling/8.jpg);}
.katopic-9{background-image: url(assets/img/modeling/9.jpg);}
.katopic-10{background-image: url(assets/img/modeling/10.jpg);}
.katopic-11{background-image: url(assets/img/modeling/11.jpg);}
.katopic-12{background-image: url(assets/img/modeling/12.jpg);}
.katopic-13{background-image: url(assets/img/modeling/13.jpg);}
.katopic-14{background-image: url(assets/img/modeling/14.jpg);}
.katopic-15{background-image: url(assets/img/modeling/15.jpg);}
.katopic-16{background-image: url(assets/img/modeling/16.jpg);}
.katopic-17{background-image: url(assets/img/modeling/17.jpg);}
.katopic-18{background-image: url(assets/img/modeling/18.jpg);}
.katopic-19{background-image: url(assets/img/modeling/19.jpg);}
.katopic-21{background-image: url(assets/img/modeling/21.jpg);}
.katopic-22{background-image: url(assets/img/modeling/22.jpg);}
.katopic-23{background-image: url(assets/img/modeling/23.jpg);}


.bio-text.hide{
	display: none;
}

.bio-text.show{
	display: block;
}

@media (min-width: 0px)
 and (max-width: 680px) {
	.background-image-generic{
		font-size: 70px;
	}
	
	.circle-container .circle{
		width: 100px;
		height: 100px;
		line-height: 100px;
	}

	.circle .circle-label{
		font-size: 12px;
	}
}
