<html>
	
<head>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">

	<link rel="stylesheet" type="text/css" href="css/old_style.css">
	<link rel="stylesheet" type="text/css" href="css/new_style.css">
	
	
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<title>Kato Fitness</title>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</head>


<body ng-app="app" ng-controller="myController">
	
	<span class="gallery-button" id="next-button">NEXT</span>
		<span class="gallery-button" id="prev-button">PREV</span>
	<header>
		<div class="black-bar">
			<span class="category"><a href="index.html">KATO FITNESS</a></span>
			<span class="category"><a href="modeling.html">KATO MODELING</a></span>
			<span class="category">KATO VIDEOS</span>
		</div>
	</header>
	<div class="main-content">
					<div class="video-container" ng-repeat="name in videos">
					<h1>{{name.name}}</h1>
					<video ng-src="{{name.video}}" controls></video> 
					<ul>
					<li ng-style="{'color': list.color}" ng-repeat="list in name.exercise">{{list.reps}}</li>
					</ul>

					</div>


	    <section class="quad"><h1>GET IN TOUCH</h1>
	    	<ul>
	    		<li><a href="mailTo:Katofitness23@gmail.com?Subject=Kato%20train%20me%20please!">katofitness23@gmail.com</a></li>
	    		<li>562-544-8448</li>
	    	</ul>
    
	    	<a href="https://www.facebook.com/kalen.norton" target="_blank" class="fa fa-facebook"></a>
	    	<a href="https://twitter.com/KatoFitness" target="_blank" class="fa fa-twitter"></a>
	    	<a href="https://instagram.com/katotrainmeplease/" target="_blank" class="fa fa-instagram"></a>
	    	<a href="https://www.youtube.com/channel/UCtEcMIyrh201ZJMhi9Uk2eQ" target="_blank" class="fa fa-youtube"></a>
	    	
	    </section>
	    
	</div>		

	<script src="app.js"></script>
	<script src="jquery.js"></script>
	<script src="main.js"></script>
 	
</body>

</html>